<h1>#CR </h1>
<br/>
<br/>
<div class="table-responsive">
</div>
<br/>
<br/>
<%= link_to new_departement_path do %>
  <button type="button" class="btn btn-success btn-lg btn-block">Add a new departement</button>
<% end %>