<h3><%= "#CR: #{@dailyreport.id} du #{@dailyreport.created_at.strftime("%d %B %Y - %kh%M") }" %></h3>
<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title"><%= @dailyreport.owner.name %></h5>
    <hr/>
    <h6 class="card-subtitle mb-2 text-muted">Infos Tickets</h6>
    <p class="card-text">VAL-201: 2h.30min : Réalisé</p>
    <p class="card-text">VAL-201: 2h.30min : Réalisé</p>
    <p class="card-text">VAL-201: 2h.30min : Réalisé</p>
    <hr/>
    <h6 class="card-subtitle mb-2 text-muted">Autres tâches</h6>
    <p class="card-text">Formation: 2h.30min</p>
    <p class="card-text">Réunion: 2h.30min : ValJob</p>
    <p class="card-text">Réunion: 2h.30min : ValJob</p>
    <hr/>
    <p class="card-text">Commentaires: <%= @dailyreport.comment %> </p>
    <a href="" class="btn btn-dark">Link</a>
  </div>
</div>